# Ignore everything in the data directory
data/*

# But keep the directory itself by excluding the ignore for a dummy file
!data/.gitkeep

logs/*
!logs/.gitkeep

# Ignore Python virtual environments
venv/

# Ignore environment variables stored in .env files
.env

# Ignore Python bytecode
__pycache__/
*.pyc
